<div class="@@class social">
	<a href="#" class="social-item" target="_blank"> <img src="img/icons/tg.svg" alt="" data-svg /> </a>
	<a href="#" class="social-item" target="_blank"> <img src="img/icons/vk.svg" alt="" data-svg /> </a>
	<a href="#" class="social-item" target="_blank"> <img src="img/icons/yt.svg" alt="" data-svg /> </a>
	<a href="#" class="social-item" target="_blank"> <img src="img/icons/wa.svg" alt="" data-svg /> </a>
	<a href="#" class="social-item" target="_blank"> <img src="img/icons/dzen.svg" alt="" data-svg /> </a>
</div>
