<div class="vakancy-card">
	<div class="vakancy-card__title">Главный юрисконсульт</div>
	<div class="vakancy-card__info">
		<p>22.11.2024</p>
		<p>Panda estate</p>
	</div>
	<div class="vakancy-card__price">от 100 000 ₽</div>
	<div class="vakancy-card__text">
		<p><strong>Обязанность:</strong> Ведение договорной базы, составление документов различной сложности</p>
		<p><strong>Требования:</strong> До 40 лет, проживание в Москве</p>
		<p><strong>Условия:</strong> Рабочий день с 10 до 19 (плавающий), редкие поездки</p>
	</div>
	<div class="row">
		<div class="col-6">
			<a href="#" class="vakancy-card__btn btn">Подробнее</a>
		</div>
		<div class="col-6">
			<a href="#" class="vakancy-card__btn btn btn-dark">Контакты</a>
		</div>
	</div>
</div>
