.popup
  display: none
  max-width: 75rem

  border-radius: 2.6rem
  padding: 6.2rem 6.7rem
  background-color: #f5f6f8
  &-title
    text-align: center
    font-size: 3.5rem
    font-weight: 600

  &-text
    text-align: center
    font-size: 2.1rem
    font-weight: 500
  &-form
    margin-top: 6rem
  &-contacts-info
    text-align: center
    font-size: 2.5rem
    margin-top: 6rem
    span
      color: rgba(#000,.5)
  &-contacts-address
    font-size: 2.5rem
    text-align: center
    margin-top: 7.6rem
  &-contacts-social
    margin-top: 6rem
    justify-content: center
    .social-item
      background-color: #316067
      path
        fill: #fff
#subscribe
  padding: 0
@media  ( hover: hover  )
  .popup
    .social-item:hover
      background-color: $light-green
    &-contacts-info a:hover
      color: $accent-color
@media screen and ( max-width: 992px )
  .popup
    max-width: 370px

    border-radius: 10px
    padding: 43px 10px 38px
    &-title
      font-size: 16px
      font-weight: 500

    &-text
      font-size: 12px
    &-form
      margin-top: 16px
