.dropdown
  padding: 6.0rem 0 12.0rem
  counter-reset: item
  &__title
    margin-bottom: 6.2rem
  &-item
    color: #fff
    border-radius: 2.6rem
    background: linear-gradient(62deg, rgba(0,164,138,1) 47%, rgba(0,93,98,1) 94%)
    padding: 2.5rem 10.0rem
    &:not(:last-child)
      margin-bottom: 2.3rem
  &-item__title
    font-size: 3.5rem
    font-weight: 600
    position: relative
    cursor: pointer
    &::before
      content: '0' counter(item) '.'
      counter-increment: item
      position: absolute
      top: 0
      left: -6.0rem
      font-size: 2.1rem
      font-weight: 400
  &-item__content
    font-size: 2.1rem
    font-weight: 400
    margin-top: 2.4rem
    margin-bottom: 4.0rem
    line-height: 1.3
    display: none
    li
      margin-bottom: 0.8em
    p,ul,ol
      margin-bottom: 1em
  &__btn
    max-width: 42.0rem
    margin-top: 7.8rem
// @media screen and ( max-width: 1400px )
//   .dropdown
//     &-item
//       padding: 25px 80px

//     &-item__title
//       font-size: 24px
//       &::before
//         left: -40px
//         font-size: 18px
//     &-item__content
//       font-size: 18px
// @media screen and ( max-width: 1200px )
//   .dropdown
//     &-item
//       border-radius: 10px
@media screen and ( max-width: 992px )
  .dropdown
    padding: 20px 0
    &__title
      margin-bottom: 23px
    &-item
      padding: 12px 40px
      border-radius: 10px
      &:not(:last-child)
        margin-bottom: 10px
    &-item__title
      font-size: 16px
      &::before
        left: -26px
        font-size: 12px
    &-item__content
      font-size: 12px
      margin-bottom: 20px
    &__btn
      max-width: 180px
      margin-top: 23px
      padding: 12px
      border: 2px solid $accent-color
      background: #fff
      color: #316067
      font-size: 12px
