.dropdown
  padding: 6.0rem 0 12.0rem
  counter-reset: item
  &__title
    margin-bottom: 6.2rem
  &-col-2
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-auto-flow: column
    grid-template-rows: repeat(5, auto)
    column-gap: 2rem
    .dropdown-item
      height: fit-content
      &__title
        font-size: 2.5rem
        padding: 1.6rem 10.0rem
        min-height: 9.3rem
        align-content: center
        &::before
          top: 50%
          transform: translateY(-50%)
  &-item
    color: #fff
    border-radius: 2.6rem
    background: linear-gradient(62deg, rgba(0,164,138,1) 47%, rgba(0,93,98,1) 94%)

    &:not(:last-child)
      margin-bottom: 2.3rem
    &:nth-child(n + 10)
      .dropdown-item__title:before
        content: counter(item) '.'

  &-item__title
    padding: 2.5rem 10.0rem
    font-size: 3.5rem
    font-weight: 600
    position: relative
    cursor: pointer
    &::before
      content: '0' counter(item) '.'
      counter-increment: item
      position: absolute
      top: 0
      left: 4rem
      font-size: 2.1rem
      font-weight: 400
  &-item__content
    font-size: 2.1rem
    font-weight: 400
    margin-top: 2.4rem
    margin-bottom: 4.0rem
    line-height: 1.3
    display: none
    padding: 0 10rem 3rem
    li
      margin-bottom: 0.8em
    p,ul,ol
      margin-bottom: 1em
  &__btn
    max-width: 42.0rem
    margin-top: 7.8rem
@media  ( hover: hover  )
  .dropdown-item:hover
    box-shadow: 0 2px 2px 2px $dark-green

@media screen and ( max-width: 992px )
  .dropdown
    padding: 20px 0
    &__title
      margin-bottom: 23px
    &-col-2
      display: block

    &-item
      border-radius: 10px
      &:not(:last-child)
        margin-bottom: 10px
    &-item__title
      font-size: 16px !important
      padding: 12px 40px !important
      min-height: 0 !important
      &::before
        left: 15px
        font-size: 12px
    &-item__content
      font-size: 12px
      margin-top: 0
      margin-bottom: 20px
      padding: 12px 40px
    &__btn
      max-width: 180px
      margin-top: 23px
      padding: 12px
      border: 2px solid $accent-color
      background: #fff
      color: #316067
      font-size: 12px
