.hero
  min-height: 100vh
  margin-bottom: 9.3rem

  &-wrapper
    display: flex
    justify-content: space-between
    // gap: 6.2rem

  &-left
    flex-shrink: 0
    position: relative
    z-index: 2
    max-width: 69%
    padding-top: 17.0rem
  &__title
    font-size: 11.6rem
    font-weight: 600
    line-height: 1.05
    color: #316067
    margin-bottom: 2.3rem
  &__text
    color: rgba(#060606,.6)
    font-size: 2.1rem
    margin-bottom: 9.6rem
    max-width: 55.0rem
  &__btn
    max-width: 42.0rem
    margin-bottom: 10.0rem
  &__video
    position: absolute
    bottom: 0
    right: 0
    max-width: 42.0rem
    border-radius: 2.6rem
    overflow: hidden
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      top: 0
      right: 0
      background-color: rgba(#060606,.4)

  &-right
    max-width: 31%
    width: 100%
    flex-shrink: 0
    padding-left: 6.2rem
    padding-bottom: 6.2rem
    color: #f5f5f5
    position: relative
    z-index: 2
    font-size: 2.1rem
    font-weight: 600
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-top: 17.0rem
    position: relative
    z-index: 1

    &::before
      content: ''
      position: absolute
      top: 0
      left: 2rem
      width: 150%
      height: 100%
      background-color: rgba(#060606,.6)
      border-bottom-left-radius: 2.6rem
      border-bottom-right-radius: 2.6rem

      z-index: -1
    &::after
      content: ''
      position: absolute
      top: 0
      left: 2rem
      width: 150%
      height: 100%
      background-image: url(../img/front-page/hero-bg.jpg)
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      border-bottom-left-radius: 2.6rem
      border-bottom-right-radius: 2.6rem
      z-index: -2
  &-nums
    display: flex
    flex-wrap: wrap
    gap: 5.8rem 4.3rem
  &-nums__item
  &-nums__item-text
  &-nums__item-num
    font-size: 3.6rem
    margin-bottom: 1.0rem
  &-right__text

// @media screen and ( min-width: 200.0rem )
//   .hero
//     &::after, &::before

//       right: auto
//       left: calc(50% + 35.0rem)
//       width: 50%
// @media screen and ( max-width: 160.0rem )
//   .hero
//     &::before,  &::after
//       width: 33%
//     &__title
//       font-size: 8.0rem
//     &-nums
//       gap: 2.0rem 3.0rem
//       font-size: 1.8rem
// @media screen and ( max-width: 140.0rem )
//   .hero
//     padding-top: 16.0rem
//     margin-bottom: 6.0rem
//     &__video
//       max-width: 30.0rem
//     &__text
//       margin-bottom: 6.0rem
//     &-right__text
//       font-size: 1.6rem
//     &__btn
//       max-width: 36.0rem
@media screen and ( max-width: 992px )
  .hero
    min-height: 0
    margin-bottom: 0
    padding-top: 100px

    &__title
      font-size: 56px
      text-align: center
    &-wrapper
      flex-direction: column
      gap: 30px
    &-left
      max-width: 100%
      padding-top: 0
    &-right
      max-width: 100%
      padding-top: 0
      justify-content: center
      padding: 42px 20px 30px
      gap: 37px
      font-size: 16px
      &::before, &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      &::before
        background-color: rgba(#060606,.6)
        z-index: -1
        border-radius: 0

      &::after
        background-image: url(../img/front-page/hero-bg-mob.jpg)
        background-size: cover
        background-repeat: no-repeat
        background-position: top center
        z-index: -2
        border-radius: 0
    &-nums
      justify-content: center
      text-align: center
    &-nums__item-num
      font-size: 36px
    &__text
      text-align: center
      font-size: 16px
      max-width: 100%
      margin-bottom: 20px
    &__btn
      margin: 0 auto 30px
      max-width: 300px
    &__video
      position: relative
      display: block
      max-width: 370px
      margin: 0 auto
      border-radius: 15px
    &-social
      display: none
    &-right__text
      text-align: center
@media screen and ( max-width: 768px )
  .hero
    padding-top: 87px
    &__title
      font-size: 36px
      margin-bottom: 20px
    &__text
      font-size: 10px
    &__btn
      background: #fff
      color: #316067
      border: 2px solid #1CAB98
    &__video
      height: 160px
      width: 100%
      max-width: 400px
    &-nums__item-text
      font-size: 12px
    &-right__text
      font-size: 10px
    &-right
      margin-right: calc(-1.5rem *.5)
      margin-left: calc(-1.5rem *.5)
      width: auto
      max-width: none
