.map-block
  overflow: hidden
  display: grid
  grid-template-columns: 6fr 4fr
  &__form
    padding: 6.0rem 4.3rem
    background-color: #f5f6f8
  iframe
    height: 100%

@media screen and ( max-width: 992px )
  .map-block
    grid-template-columns: repeat(2,1fr)

@media screen and ( max-width: 768px )
  .map-block
    display: flex
    flex-direction: column
    iframe
      height: 390px
  .map-block__form
    padding: 48px 10px 38px
