.single-news-top
  &__image
    border-radius: 2.6rem
    width: 100%
    max-height: 70.4rem
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__info
    // width: 130rem
    // border-radius: 2.6rem
    // background-color: #fff
    position: relative
    z-index: 2
    // margin: -8rem auto 0
    // padding: 5.7rem 10.3rem
    margin-bottom: 7rem
  &__title
    font-size: 5rem
    font-weight: 600
    margin-bottom: 4rem
    text-transform: uppercase
  &-person
    display: flex
    align-items: center
    gap: 3.2rem
  &-person__image
    width: 13rem
    height: 13rem
    overflow: hidden
    border-radius: 50%
  &-person__info
  &-person__title
    font-size: 3.5rem
    margin-bottom: 1.6rem
    font-weight: 600
  &-person__descr
    display: flex
    align-items: center
    gap: 2rem
    color: $accent-color
    font-size: 2.1rem
    p
      display: flex
      align-items: center
      gap: 1rem
      svg, img
        width: 2.1rem
        height: 2.1rem
@media screen and ( max-width: 992px )
  .single-news-top
    &__image
      border-radius: 10px
      max-height: 350px
    &__info
      // width: 90%
      // border-radius: 10px
      // margin: -40px auto 0
      margin-bottom: 30px
      margin-top: 30px
      // padding: 21px 17px
    &__title
      font-size: 16px
      margin-bottom: 14px
    &-person
      gap: 10px
    &-person__image
      width: 46px
      height: 46px
    &-person__info
    &-person__title
      font-size: 12px
      margin-bottom: 5px
    &-person__descr
      gap: 2rem
      color: $accent-color
      font-size: 10px
      p
        gap: 2px
        svg, img
          width: 11.25px
          height: 11.25px
