.widget
  position: fixed
  z-index: 20
  left: 0
  top: 50%
  transform: translateY(-50%)
  border: .2rem solid rgba(49, 96, 103, 1)
  border-top-right-radius: 1.6rem
  border-bottom-right-radius: 1.6rem
  background-color: #fff
  width: 8.2rem
  transition: .3s
  svg
    width: 3.8rem
    height: 3.8rem
    flex-shrink: 0
  &__logo
    position: relative
    &::before
      opacity: 0 !important
    &>svg
      transition: .3s
    span
      padding: 1.8rem 0
      display: flex
      justify-content: flex-start
      position: absolute
      top: 0
      background-color: #fff
      svg
        width: 14.5rem
        height: 3.8rem
  &__item
    padding: 1.8rem
    display: flex
    align-items: center
    gap: 1.0rem
    position: relative
    &::before
      content: ''
      position: absolute
      top: .5rem
      left: .5rem
      bottom: .5rem
      right: .5rem
      background-color: rgba(#1CAB98,.3)
      border-radius: 1.2rem
      opacity: 0
      transition: .3s
    &:not(:last-child)
      border-bottom: .2rem solid rgba(49, 96, 103, 1)
    span
      opacity: 0
      font-size: 2.1rem
      transform: translateX(-50%) scale(0)
      transition: .3s
@media  ( min-width: 992px  )
  .widget:hover
    width: 22rem
    span
      transform: translateX(0) scale(1)
      opacity: 1
    .widget__logo > svg
      opacity: 0

  .widget__item:hover
    &::before
      opacity: 1
@media screen and ( max-width: 992px )
  .widget
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
    top: auto
    display: flex
    align-items: center
    justify-content: center
    width: auto
    height: auto
    border-radius: 10px
    border: none
    &__item
      padding: 13px 22px
      border: none !important
      span
        display: none

      &:last-child
        order: 3
      svg
        width: 20px
        height: 20px
    &__logo
      order: 2
      transform: scale(1.7)

      border-radius: 50%
      background-color: #fff
      padding: 11px
