
.header
  position: absolute
  z-index: 10
  top: 0
  left: 0
  right: 0
  padding-top: 4.5rem
  &-wrapper
  &-logo
    max-width: 21.6rem
    display: block
    flex-shrink: 0
    img
      width: 100%
    .logo-black
      display: none
  &-nav
    margin-left: 6%
    margin-right: auto
  &-menu
    display: flex
    align-items: center
    gap: 5rem
    color: rgba(#fff, .5)
    font-weight: 500
  &-menu__item
  &-menu__link
    position: relative
    transition: .3s
    &::before
      content: ''
      position: absolute
      background-color: #fff
      width: 0
      height: .3rem
      bottom: -.5rem
      border-radius: 1rem
      left: 0
      transition: .3s
  &__btn
    gap: 2.2rem
    padding: 2.4rem
    border-radius: 2.0rem
    svg
      width: 2.1rem
      height: 2.1rem

@media  ( hover:  hover )
  .header-menu__link:hover
    color: #fff
    &::before
      width: 4.4rem

@media screen and ( max-width: 992px )
  .header
    padding-top: 16px
    &-logo
      max-width: 133px
    &-nav
      display: none
    &__btn
      margin-left: 12px
    &-search
      width: 20px
      height: 20px
      display: flex
      align-items: center
      justify-content: center
    &-menu-btn
      margin-left: 18px

      display: flex
      align-items: center
      justify-content: center
      svg
        width: 20px
        height: 20px
      rect
        transition: .3s
      &.active
        rect
          &:nth-child(1)
            transform: translate(18px,-4.5px) rotate(45deg)
          &:nth-child(2)
            opacity: 0
          &:nth-child(3)
            transform: translate(-6px, -10px) rotate(-45deg)
