.header-black
  position: static
  .header
    &-menu
      color: rgba(#000,.5)
    &-menu__link
      &::before
        background-color: $accent-color
    &-menu-btn rect
      fill: $light-green
  .logo-white
    display: none
  .logo-black
    display: block
