<section class="calendar">
	<div class="container">
		<div class="calendar-top">
			<h2 class="calendar__title section-title">Календарь мероприятий</h2>
			<a href="#" class="calendar__btn btn">Подписаться на календарь</a>
		</div>
		<div class="calendar-wrapper">
			<div class="calendar-left">
				<div class="info-calendar">
					<div class="small-calendar" id="small-calendar-2"></div>
				</div>
				<div class="info-calendar-date">
					<div class="info-calendar-date__day">
						<p>27</p>
						<span>ноября</span>
					</div>
					<div class="info-calendar-date__text">
						Московский Международный <br />
						жилищный конгресс 2024
					</div>
				</div>
				<div class="calendar-event-types">
					<div class="calendar-event-types__item"><span class="green"></span>Офлайн</div>

					<div class="calendar-event-types__item"><span class="dark-green"></span>Онлайн</div>
				</div>
			</div>
			<div class="calendar-right">
				<div id="calendar"></div>
			</div>
			<div class="calendar-event-block"></div>
		</div>
	</div>
</section>
