<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="row gy-4">
				<div class="col-lg-3">
					<a href="/" class="footer-logo">
						<img src="img/logo-white.svg" alt="" />
					</a>
				</div>
				<div class="col-xl-6 col-lg-5" id="footer-menu-container">
					<nav class="footer-nav">
						<ul class="footer-menu">
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Главная</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Аттестация</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Единый реестр</a></li>
						</ul>
						<ul class="footer-menu ms-xxl-5">
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Партнеры</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">База знаний</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Сервисы</a></li>
						</ul>
						<ul class="footer-menu">
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Прием обращений</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Мероприятия</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-xl-3 col-lg-4"><a href="#" class="footer__btn btn btn--white ms-lg-auto d-none"> @@include('../bem-blocks/_sprite.html', { "id": "user" }) Личный кабинет</a></div>
			</div>
		</div>
		<div class="footer-middle">
			<div class="footer-icons">
				<a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-1" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-2" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-3" })</a
				><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-4" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-5" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-6" })</a
				><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-7" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-8" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-9" })</a
				><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-10" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-11" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-12" })</a
				><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-13" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-14" })</a><a href="#" class="footer-icons__link">@@include('../bem-blocks/_sprite.html', { "id": "footer-icon-15" })</a>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="row gy-4">
				<div class="col-xxl-3 col-lg-4">
					<div class="footer-info">
						<p class="text-grey">Некоммерческое партнерство по&nbsp;содействию развитию рынка недвижимости</p>
						<p>
							«ГИЛЬДИЯ РИЭЛТОРОВ МОСКВЫ» <br />
							ИНН 7708237546
						</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4">
					<div class="footer-address">
						119049 г. Москва, <br />
						Калужская площадь, 1к2, <br />
						БЦ "Европа", 2й этаж
					</div>
				</div>
				<div class="col-xl-3 col-lg-4">
					<div class="footer-contacts">
						<p class="text-grey">Дирекция ГРМ</p>

						<p><a href="mailto:info@grmos.ru">info@grmos.ru</a>, <a href="mailto:id@grmos.ru">id@grmos.ru</a></p>
						<p><a href="tel:+74993220164">+7 (499) 322−01−64</a></p>
						<p><a href="tel:+79689797808">+7 (968) 979−78−08 </a>whatsapp/telegram</p>
					</div>
				</div>
			</div>
			<div class="row mt-3 align-items-center gy-4">
				<div class="col-xxl-3 col-lg-4">@@include('../bem-blocks/_social.html', { "class": "footer-social" })</div>
				<div class="col-xl-3 col-lg-5">
					<a href="#" class="footer-privacy">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="widget">
	<a href="#" class="widget__logo widget__item">
		@@include('../bem-blocks/_sprite.html', { "id": "grm" })
		<span> @@include('../bem-blocks/_sprite.html', { "id": "grm-logo" }) </span>
	</a>
	<a href="#" class="widget__item">@@include('../bem-blocks/_sprite.html', { "id": "bubble-chat" }) <span>Написать</span></a>
	<a href="#" class="widget__item">@@include('../bem-blocks/_sprite.html', { "id": "calling" }) <span>Позвонить</span></a>
</div>
