<div class="letter">
	<img class="letter-bg" src="img/letter-decor.svg" alt="" />
	<div class="container">
		<div class="letter-wrapper">
			<form class="letter-form">
				<div class="letter-form-back">
					<img class="letter-form-back-top" src="img/letter-back-top.svg" alt="" />
					<img class="letter-form-back-bottom" src="img/letter-back-bottom.svg" alt="" />
				</div>

				<div class="letter-form-block">
					<div class="letter-form-block__title">@@title</div>
					<div class="letter-form-block__text">Заполните форму, и мы свяжемся с вами, чтобы ответить на возникшие вопросы и помочь с оформлением</div>
					<div class="letter-form-block__row">
						<div class="letter-form-block__label">
							<input type="text" name="username" placeholder="Имя" class="letter-form-block__input" />
						</div>
						<div class="letter-form-block__label">
							<input type="email" name="email" placeholder="Почта" class="letter-form-block__input" />
						</div>
						<div class="letter-form-block__label">
							<input type="tel" name="phone" placeholder="Телефон" class="letter-form-block__input" />
						</div>
					</div>
					<select name="member-type" id="" class="letter-form-block__select letter-form-block__input">
						<option hidden selected disabled>Выбор вида членства</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<label class="letter-form-block__file">
						<input type="file" name="documents" id="file_input" multiple />
						<span id="file-title">Прикрепить документы</span>
					</label>
					<label class="letter-form-block__acceptance">
						<input type="checkbox" name="acceptance" id="acceptance" checked />
						<span
							>Нажимая кнопку «Отправить», вы даете согласие на обработку <br />
							персональных данных и соглашаетесь с <a href="#">политикой конфиденциальности</a>
						</span>
					</label>
				</div>
				<img src="img/letter-front.svg" alt="" class="letter-form__front" />
				<button class="letter-form-btn btn">Отправить</button>
				<div class="letter-form-logo">
					<img src="img/letter-logo.svg" alt="" />
				</div>
			</form>
		</div>
	</div>
</div>
