<!-- news -->
<section class="news @@class">
	<div class="container">
		<h2 class="news__title section-title">Новости</h2>
		<div class="news-slider">
			<div class="news-slider__item">
				<div class="news-item">
					<a href="#" class="news-item__image"> <img src="img/front-page/news.jpeg" alt="" /> </a>
					<div class="news-item__content">
						<div class="news-item-info">
							<p>09.12</p>
							<p>@@include('../bem-blocks/_sprite.html', { "id": "eye" }) 123</p>
							<p>@@include('../bem-blocks/_sprite.html', { "id": "clock" }) 5 мин</p>
						</div>
						<a href="#" class="news-item__title">Оформлено ДДУ</a>
						<div class="news-item__excerpt">
							<p>Всего с начала года в Москве оформлено 121 597 ДДУ в отношении жилья и нежилья, что на 17,6% меньше результата в рекордном 2023...</p>
						</div>
						<a href="#" class="news-item__link link">Читать</a>
					</div>
				</div>
			</div>
			<div class="news-slider__item">
				<div class="news-item">
					<a href="#" class="news-item__image"> <img src="img/front-page/news.jpeg" alt="" /> </a>
					<div class="news-item__content">
						<span class="news-item__label">NEW</span>
						<div class="news-item-info">
							<p>09.12</p>
							<p>@@include('../bem-blocks/_sprite.html', { "id": "eye" }) 123</p>
							<p>@@include('../bem-blocks/_sprite.html', { "id": "clock" }) 5 мин</p>
						</div>
						<a href="#" class="news-item__title">Оформлено ДДУ</a>
						<div class="news-item__excerpt">
							<p>Всего с начала года в Москве оформлено 121 597 ДДУ в отношении жилья и нежилья, что на 17,6% меньше результата в рекордном 2023...</p>
						</div>
						<a href="#" class="news-item__link link">Читать</a>
					</div>
				</div>
			</div>
			<div class="news-slider__item">
				<div class="news-item">
					<a href="#" class="news-item__image"> <img src="img/front-page/news.jpeg" alt="" /> </a>
					<div class="news-item__content">
						<div class="news-item-info">
							<p>09.12</p>
							<p>@@include('../bem-blocks/_sprite.html', { "id": "eye" }) 123</p>
							<p>@@include('../bem-blocks/_sprite.html', { "id": "clock" }) 5 мин</p>
						</div>
						<a href="#" class="news-item__title">Оформлено ДДУ</a>
						<div class="news-item__excerpt">
							<p>Всего с начала года в Москве оформлено 121 597 ДДУ в отношении жилья и нежилья, что на 17,6% меньше результата в рекордном 2023...</p>
						</div>
						<a href="#" class="news-item__link link">Читать</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
