<div class="popup" id="buy-popup">
	<div class="popup-title">Купить билет</div>
	<div class="popup-text">Чтобы купить билет заполните необходимые поля</div>
	<form class="form popup__form">
		<div class="form__field d-flex">
			<select name="" id="tarif" class="form__input">
				<option value="ФОРУМ">ФОРУМ</option>
				<option value="VIP">VIP</option>
				<option value="ГАЛА-УЖИН">ГАЛА-УЖИН</option>
			</select>
			<div class="qty">
				<span class="qty__minus qty__btn">-</span>
				<input type="text" class="qty-field" readonly min="1" step="1" value="1" />
				<span class="qty__plus qty__btn">+</span>
			</div>
		</div>
		<div class="form__field">
			<input type="text" class="form__input" required id="popup_username" name="username" placeholder="Введите ваше имя" />
		</div>
		<div class="form__field">
			<input type="tel" class="form__input" required id="popup_phone" name="phone" placeholder="Введите номер телефона" />
		</div>
		<div class="form__field">
			<input type="email" class="form__input" required id="popup_phone" name="phone" placeholder="Введите почту" />
		</div>

		<button class="btn form-btn" type="submit">Купить билет</button>
	</form>
</div>
<div class="popup speaker-popup" id="speaker-popup">
	<div class="speaker-popup__title">Подробнее о программе спикера</div>
	<div class="speaker-popup-body">
		<h2 class="speaker-popup__name">Имя Фамилия</h2>
		<div class="speaker-popup__position">Должность</div>
		<div class="speaker-popup-descr">
			<div class="speaker-popup-descr__title">О чем лекция</div>
			<div class="speaker-popup-descr__text">
				<ul>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
					<li>Далеко-далеко за словесными горами в стране.</li>
				</ul>
			</div>
		</div>
	</div>
	<a href="#buy-popup" data-fancybox class="speaker-popup__btn btn">Купить билет</a>
</div>
