<div class="popup-list">
	<div class="container">
		<div class="popup-list-item">
			<a href="#item-5" class="popup-list-item__link" data-fancybox
				><p>Сертифицирование агентства недвижимости</p>
				<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
			</a>
			<div class="popup-list-item__popup" id="item-5">
				<div class="row">
					<div class="col-lg-5">
						<div class="popup-list-item__title section-title">Сертифицирование агентства недвижимости</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-text">
								<p>
									Сертифицированное агентство недвижимости — Юридическое лицо или индивидуальный предприниматель, подтвердившие соответствие качества оказания брокерских (риэлторских) услуг установленным требованиям Системы сертификации. Получает Сертификат Соответствия с занесением соответствующей информации в Единый реестр сертифицированных компаний и аттестованных специалистов Системы
									сертификации.
								</p>

								<p>Сертификация — процедура проведения экспертизы деятельности агентства недвижимости (брокерской компании) на соответствие брокерских (риэлторских) услуг требованиям, установленным Основным стандартом Системы сертификации «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования», а также нормативными документами Системы Сертификации.</p>
							</div>
						</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-title">
								Квалификационные <br />
								требования
							</div>
							<div class="popup-list-item__popup-block-text">
								<p class="text-green">Образование</p>
								<p>Не ниже среднего профессионального образования</p>
							</div>
							<div class="popup-list-item__popup-block-text">
								<p class="text-green">Повышение квалификации</p>
								<p>Не реже 1 раза в 3 года</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 d-flex flex-column">
						<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
						<div class="popup-list-item__popup-grid">
							<div class="row g-0">
								<div class="col-6">
									<div class="row g-0">
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Первичная</strong></div>
												<div class="small">сертификация</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Первичная</strong></div>
												<div class="small">
													сертификация одного <br />
													дополнительного офиса
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>7 500 ₽</strong></p>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>3 000 ₽</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="row g-0">
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Повторная </strong></div>
												<div class="small">сертификация</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Повторная </strong></div>
												<div class="small">
													сертификация одного <br />
													дополнительного офиса
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>7 500 ₽</strong></p>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>3 000 ₽</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="popup-list-item__popup-grid-item">
										<div class="medium"><strong> Тариф на проведение сертификации брокерских услуг агентств недвижимости, не являющихся участниками НП «ГРМ»</strong></div>
										<div class="small">сроком на 1 год с выдачей сертификата в печатном виде</div>
									</div>
								</div>
								<div class="col-12">
									<div class="popup-list-item__popup-grid-item">
										<p><strong>35 000 ₽</strong></p>
									</div>
								</div>
								<div class="col-12">
									<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
								</div>
							</div>
						</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
							<div class="popup-list-item__popup-block-text">
								<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций </i></p>

								<p>1.<strong> Подготовьте </strong>необходимые документы (скачать Перечень документов и требований)</p>
								<p>2. <strong>Заполните</strong> форму заявки, прикрепив карточку компании с банковскими реквизитами</p>

								<p>3. <strong>Направьте </strong>на адрес ТОС ГРМ tos@grmos.ru копии документов из Перечня (можно направить ссылку на папку с файлами, размещенную на вашем Яндекс-диске, Mail, Google и т.п.).</p>
							</div>
						</div>
						<div class="row mt-auto">
							<div class="col-5 col-sm-6"><a href="#zayavka-brokerskih-uslug" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
							<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-list-item">
			<a href="#item-1" class="popup-list-item__link" data-fancybox
				><p>Процедура сертификации</p>
				<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
			</a>
			<!-- <div class="popup-list-item__popup" id="item-5">
				<div class="row">
					<div class="col-lg-5">
						<div class="popup-list-item__title section-title">Сертифицирование агентства недвижимости</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-text">
								<p>
									Сертифицированное агентство недвижимости — Юридическое лицо или индивидуальный предприниматель, подтвердившие соответствие качества оказания брокерских (риэлторских) услуг установленным требованиям Системы сертификации. Получает Сертификат Соответствия с занесением соответствующей информации в Единый реестр сертифицированных компаний и аттестованных специалистов Системы
									сертификации.
								</p>

								<p>Сертификация — процедура проведения экспертизы деятельности агентства недвижимости (брокерской компании) на соответствие брокерских (риэлторских) услуг требованиям, установленным Основным стандартом Системы сертификации «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования», а также нормативными документами Системы Сертификации.</p>
							</div>
						</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-title">
								Квалификационные <br />
								требования
							</div>
							<div class="popup-list-item__popup-block-text">
								<p class="text-green">Образование</p>
								<p>Не ниже среднего профессионального образования</p>
							</div>
							<div class="popup-list-item__popup-block-text">
								<p class="text-green">Повышение квалификации</p>
								<p>Не реже 1 раза в 3 года</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 d-flex flex-column">
						<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
						<div class="popup-list-item__popup-grid">
							<div class="row g-0">
								<div class="col-6">
									<div class="row g-0">
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Первичная</strong></div>
												<div class="small">сертификация</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Первичная</strong></div>
												<div class="small">
													сертификация одного <br />
													дополнительного офиса
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>7 500 ₽</strong></p>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>3 000 ₽</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="row g-0">
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Повторная </strong></div>
												<div class="small">сертификация</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Повторная </strong></div>
												<div class="small">
													сертификация одного <br />
													дополнительного офиса
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>7 500 ₽</strong></p>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>3 000 ₽</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="popup-list-item__popup-grid-item">
										<div class="medium"><strong> Тариф на проведение сертификации брокерских услуг агентств недвижимости, не являющихся участниками НП «ГРМ»</strong></div>
										<div class="small">сроком на 1 год с выдачей сертификата в печатном виде</div>
									</div>
								</div>
								<div class="col-12">
									<div class="popup-list-item__popup-grid-item">
										<p><strong>35 000 ₽</strong></p>
									</div>
								</div>
								<div class="col-12">
									<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
								</div>
							</div>
						</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
							<div class="popup-list-item__popup-block-text">
								<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций </i></p>

								<p>1.<strong> Подготовьте </strong>необходимые документы (скачать Перечень документов и требований)</p>
								<p>2. <strong>Заполните</strong> форму заявки, прикрепив карточку компании с банковскими реквизитами</p>

								<p>3. <strong>Направьте </strong>на адрес ТОС ГРМ tos@grmos.ru копии документов из Перечня (можно направить ссылку на папку с файлами, размещенную на вашем Яндекс-диске, Mail, Google и т.п.).</p>
							</div>
						</div>
						<div class="row mt-auto">
							<div class="col-5 col-sm-6"><a href="#zayavka-brokerskih-uslug" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
							<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<div class="popup-list-item">
			<a href="#item-2" class="popup-list-item__link" data-fancybox
				><p>Тарифы</p>
				<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
			</a>
			<!-- <div class="popup-list-item__popup" id="item-5">
				<div class="row">
					<div class="col-lg-5">
						<div class="popup-list-item__title section-title">Сертифицирование агентства недвижимости</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-text">
								<p>
									Сертифицированное агентство недвижимости — Юридическое лицо или индивидуальный предприниматель, подтвердившие соответствие качества оказания брокерских (риэлторских) услуг установленным требованиям Системы сертификации. Получает Сертификат Соответствия с занесением соответствующей информации в Единый реестр сертифицированных компаний и аттестованных специалистов Системы
									сертификации.
								</p>

								<p>Сертификация — процедура проведения экспертизы деятельности агентства недвижимости (брокерской компании) на соответствие брокерских (риэлторских) услуг требованиям, установленным Основным стандартом Системы сертификации «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования», а также нормативными документами Системы Сертификации.</p>
							</div>
						</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-title">
								Квалификационные <br />
								требования
							</div>
							<div class="popup-list-item__popup-block-text">
								<p class="text-green">Образование</p>
								<p>Не ниже среднего профессионального образования</p>
							</div>
							<div class="popup-list-item__popup-block-text">
								<p class="text-green">Повышение квалификации</p>
								<p>Не реже 1 раза в 3 года</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 d-flex flex-column">
						<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
						<div class="popup-list-item__popup-grid">
							<div class="row g-0">
								<div class="col-6">
									<div class="row g-0">
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Первичная</strong></div>
												<div class="small">сертификация</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Первичная</strong></div>
												<div class="small">
													сертификация одного <br />
													дополнительного офиса
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>7 500 ₽</strong></p>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>3 000 ₽</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="row g-0">
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Повторная </strong></div>
												<div class="small">сертификация</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<div class="medium"><strong>Повторная </strong></div>
												<div class="small">
													сертификация одного <br />
													дополнительного офиса
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>7 500 ₽</strong></p>
											</div>
										</div>
										<div class="col-6">
											<div class="popup-list-item__popup-grid-item">
												<p><strong>3 000 ₽</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="popup-list-item__popup-grid-item">
										<div class="medium"><strong> Тариф на проведение сертификации брокерских услуг агентств недвижимости, не являющихся участниками НП «ГРМ»</strong></div>
										<div class="small">сроком на 1 год с выдачей сертификата в печатном виде</div>
									</div>
								</div>
								<div class="col-12">
									<div class="popup-list-item__popup-grid-item">
										<p><strong>35 000 ₽</strong></p>
									</div>
								</div>
								<div class="col-12">
									<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
								</div>
							</div>
						</div>
						<div class="popup-list-item__popup-block">
							<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
							<div class="popup-list-item__popup-block-text">
								<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций </i></p>

								<p>1.<strong> Подготовьте </strong>необходимые документы (скачать Перечень документов и требований)</p>
								<p>2. <strong>Заполните</strong> форму заявки, прикрепив карточку компании с банковскими реквизитами</p>

								<p>3. <strong>Направьте </strong>на адрес ТОС ГРМ tos@grmos.ru копии документов из Перечня (можно направить ссылку на папку с файлами, размещенную на вашем Яндекс-диске, Mail, Google и т.п.).</p>
							</div>
						</div>
						<div class="row mt-auto">
							<div class="col-5 col-sm-6"><a href="#zayavka-brokerskih-uslug" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
							<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
