<div class="search-popup" id="search-popup">
	<div class="search-popup-logo"><img src="img/logo-black.svg" alt="" /></div>
	<div class="search-form">
		<form action="#">
			<input type="text" name="" id="" class="input search-input" placeholder="Поиск по сайту" />
			<button class="search-form__btn"><img src="img/icons/search.svg" alt="" /></button>
			<span class="search-form__clear"
				><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7 7M13 13L7 7M7 7L13 1L1 13" stroke="#504D50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</span>
		</form>
		<div class="search-form-result">
			<a href="#" class="search-form-result-item">
				<img src="img/icons/search.svg" alt="" />
				<span>Новости ТОС ГРМ. Аттестация агентства «ТРИУМФАЛЬНАЯ АРКА»</span>
			</a>
			<a href="#" class="search-form-result-item">
				<img src="img/icons/search.svg" alt="" />
				<span>Новости ТОС ГРМ. Аттестация агентства «ТРИУМФАЛЬНАЯ АРКА»</span>
			</a>
			<a href="#" class="search-form-result-item">
				<img src="img/icons/search.svg" alt="" />
				<span>Новости ТОС ГРМ. Аттестация агентства «ТРИУМФАЛЬНАЯ АРКА»</span>
			</a>
			<a href="#" class="search-form-result-item">
				<img src="img/icons/search.svg" alt="" />
				<span>Новости ТОС ГРМ. Аттестация агентства «ТРИУМФАЛЬНАЯ АРКА»</span>
			</a>
			<a href="#" class="search-form-result-item">
				<img src="img/icons/search.svg" alt="" />
				<span>Новости ТОС ГРМ. Аттестация агентства «ТРИУМФАЛЬНАЯ АРКА»</span>
			</a>
		</div>
	</div>
</div>

<div class="popup" id="popup">
	<div class="popup-title">Остались вопросы?</div>
	<div class="popup-text">Оставляйте заявку и мы свяжемся с вами!</div>

	<form class="popup-form form">
		<div class="form__field">
			<input class="form__input" type="text" placeholder="Имя" required name="username" />
		</div>
		<div class="form__field">
			<input class="form__input" type="email" placeholder="Почта" required name="email" />
		</div>
		<div class="form__field">
			<input class="form__input" type="tel" placeholder="Телефон" required name="phone" />
		</div>
		<button class="form__btn btn">Отправить</button>
		<div class="form-acceptance">Нажимая кнопку “Отправить”, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</div>
	</form>
</div>
