<section class="reviews">
	<div class="container">
		<div class="reviews-wrapper">
			<div class="reviews-top">
				<h2 class="reviews__title section-title">Что говорят наши выпускники? <span>Более 1000 специалистов уже получили квалификацию. Присоединяйтесь! </span></h2>
				<div class="reviews-nav">
					<button class="reviews-nav__item active">Отзывы</button>
					<button class="reviews-nav__item">Видео отзывы</button>
				</div>
			</div>
			<div class="reviews-block active">
				<div class="reviews-text-slider">
					<div class="reviews-text-slider__item">
						<div class="reviews-text-item">
							<div class="reviews-text-item__top">
								<div class="reviews-text-item__title">zip realty</div>
								<div class="reviews-text-item__subtitle">Агентство недвижимости</div>
								<div class="reviews-text-item__stars stars" style="--rating: 3">
									<div class="front"><img src="img/stars.svg" alt="" /></div>
									<div class="back"><img src="img/stars-back.svg" alt="" /></div>
								</div>
							</div>
							<div class="reviews-text-item__content">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
							</div>
							<div class="reviews-text-item__date">01.25.25</div>
						</div>
					</div>
					<div class="reviews-text-slider__item">
						<div class="reviews-text-item">
							<div class="reviews-text-item__top">
								<div class="reviews-text-item__title">zip realty</div>
								<div class="reviews-text-item__subtitle">Агентство недвижимости</div>
								<div class="reviews-text-item__stars stars" style="--rating: 4">
									<div class="front"><img src="img/stars.svg" alt="" /></div>
									<div class="back"><img src="img/stars-back.svg" alt="" /></div>
								</div>
							</div>
							<div class="reviews-text-item__content">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni s dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
							</div>
							<div class="reviews-text-item__date">01.25.25</div>
						</div>
					</div>
					<div class="reviews-text-slider__item">
						<div class="reviews-text-item">
							<div class="reviews-text-item__top">
								<div class="reviews-text-item__title">zip realty</div>
								<div class="reviews-text-item__subtitle">Агентство недвижимости</div>
								<div class="reviews-text-item__stars stars" style="--rating: 4">
									<div class="front"><img src="img/stars.svg" alt="" /></div>
									<div class="back"><img src="img/stars-back.svg" alt="" /></div>
								</div>
							</div>
							<div class="reviews-text-item__content">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni s dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
							</div>
							<div class="reviews-text-item__date">01.25.25</div>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-block">
				<div class="reviews-video-slider">
					<div class="reviews-video-slider__item">
						<div class="reviews-video__item">
							<!-- видео сюда -->
							<video width="100%" controls>
								<source src="video.mp4" type="video/mp4" />
							</video>
						</div>
					</div>
					<div class="reviews-video-slider__item">
						<div class="reviews-video__item">
							<!-- видео сюда -->
							<video width="100%" controls><source src="video-2.mov" /></video>
						</div>
					</div>
					<div class="reviews-video-slider__item">
						<div class="reviews-video__item">
							<!-- видео сюда -->
							<video width="100%" controls>
								<source src="video.mp4" type="video/mp4" />
							</video>
						</div>
					</div>
					<div class="reviews-video-slider__item">
						<div class="reviews-video__item">
							<!-- видео сюда -->
							<video width="100%" controls>
								<source src="video.mp4" type="video/mp4" />
							</video>
						</div>
					</div>
				</div>
			</div>
			<a href="#review-popup" data-fancybox class="reviews__btn btn">Оставить отзыв</a>
		</div>
	</div>
</section>
