<div class="stories">
	<div class="container">
		<div class="stories-slider">
			<a href="#story" data-id="" data-json='{"stories": [{"url": "http://212.193.30.89:8000/static/stories/1/1.JPG"}, {"url": "http://212.193.30.89:8000/static/stories/1/2.webp"}, {"url": "http://212.193.30.89:8000/static/stories/1/3.jpeg"}]}' class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#story" data-id="" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#story" data-id="" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#story" data-id="" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#story" data-id="" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
		</div>
	</div>
</div>
