<div class="stories">
	<div class="container">
		<div class="stories-slider">
			<a href="#" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
			<a href="#" class="stories-slider__item">
				<img src="img/front-page/strory.jpeg" alt="" />
				<div class="stories-slider__item-title">Объединение усилий и интересов</div>
			</a>
		</div>
	</div>
</div>
