.section-title
  @include font( 3.5rem, 1, 600)
  color: #000
  padding-left: 3.9rem
  min-height: 8.0rem
  display: flex
  align-items: center
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: .3rem
    height: 100%
    background-color: $accent-color
  p
    font-weight: 500
    font-size: 2.1rem
@media screen and ( max-width: 992px )
  .section-title
    font-size: 16px !important
    padding-left: 12px
    min-height: 40px
    p
      font-size: 14px
