.slick-dots
  display: flex
  align-items: center
  justify-content: center
  gap: 1.0rem
  height: 2.5rem
  li

    display: flex
    align-items: center
    transition: .3s
    button
      font-size: 0
      width: .9rem
      height: .9rem
      border-radius: 50%
      border: .3rem solid rgba(#2B2826, .4)
      transition: .3s
      background-color: #fff
  li.slick-active

    button
      width: 1.8rem
      height: 1.8rem
      border: 3px solid rgba(#2B2826, .75)
.slick-arrow
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 1
  img
    width: 4rem
    height: 4rem
  &.prev
    left: 1%
  &.next
    right: 1%
@media screen and ( max-width: 576px )
  .slick-dots
    gap: 3px
    height: 10px
    li

      button
        width: 6px
        height: 6px
        border-width: 2px
    li.slick-active
      button
        width: 8px
        height: 8px
        border-width: 2px
