<!DOCTYPE html>
<html lang="ru">
	@@include('components/page-blocks/_head.html',{ "title":"ГРМ" })
	<body>
		<div class="wrapper">
			<!-- header -->
			@@include('components/page-blocks/_header.html', { "class" : 'header-white ' })
			<!-- main -->
			<!-- класс main-grey для добавления фона #f9f9f9 -->
			<main class="main main-grey">
				<!-- page-top -->

				<div class="top">
					<div class="container">
						<h1 class="page-title top__title">Аттестация</h1>

						<div class="top__text">
							(первичная квалификация) и переаттестация (подтверждение действующей квалификации) специалистов, работающих на рынке недвижимости, представляет собой комплекс мероприятий по определению соответствия уровня профессиональной подготовки специалистов по недвижимости — Агентов и Брокеров — требованиям, установленным Национальным стандартом Системы сертификации «Риэлторская деятельность.
							Услуги брокерские на рынке недвижимости. Общие требования».
						</div>

						<a href="#sertificate-feedback" data-fancybox class="top__btn btn">Получить консультацию</a>
					</div>
				</div>
				<!-- breadcrumbs -->
				<div class="breadcrumbs breadcrumbs--white">
					<div class="container">
						<a href="#">Главная</a>⭢
						<span>Аттестация</span>
					</div>
				</div>

				<!-- блок с кругом -->
				<section class="circle circle--white">
					<div class="container">
						<div class="circle-wrapper">
							<div class="circle-items-clear">
								<div class="circle__item left bottom" style="--x: -4%; --y: 65%">
									<div class="circle__item-text">Прозрачная репутация</div>
									<div class="circle__item-text-small circle__item-text-small--medium">Сертификация отражает приверженность агентства к соблюдению стандартов работы и законодательства</div>
								</div>
								<div class="circle__item left" style="--x: -3.5%; --y: 89%">
									<div class="circle__item-text">Обучение и рост</div>
									<div class="circle__item-text-small circle__item-text-small--medium">Доступ к бесплатному обучению внутри Гильдии. Посещение закрытых форумов и возможность обучаться у руководителей ведущих агентств недвижимости и сильных экспертов смежных направлений</div>
								</div>
								<div class="circle__item center" style="--x: 50%; --y: 104.5%">
									<div class="circle__item-text">Дополнительный канал рекламы</div>
									<div class="circle__item-text-small circle__item-text-small--medium">Внесение в Единый Реестр (https://reestr.rgr.ru/) сертифицированных агентств предоставляет доступ к внешним каналам привлечения клиентов</div>
								</div>
								<div class="circle__item right" style="--x: 77%; --y: 89%">
									<div class="circle__item-text">Правовая защита</div>
									<div class="circle__item-text-small circle__item-text-small--medium">Комитет по этике предоставляет возможность на бесплатную помощь в досудебном разрешении споров</div>
								</div>
								<div class="circle__item right bottom" style="--x: 85.3%; --y: 65%">
									<div class="circle__item-text">Правовая защита</div>
									<div class="circle__item-text-small circle__item-text-small--medium">Комитет по этике предоставляет возможность на бесплатную помощь в досудебном разрешении споров</div>
								</div>
							</div>
							<div class="circle-block"><img src="img/circle/1.svg" alt="" /><img src="img/circle/2.svg" alt="" /><img src="img/circle/3.svg" alt="" /><img src="img/circle/4.svg" alt="" /></div>
						</div>
					</div>
				</section>

				<!-- Список с инфой -->
				<div class="popup-list">
					<div class="container">
						<div class="popup-list-item">
							<a href="#item-1" class="popup-list-item__link" data-fancybox
								><p>Аттестация «Агент»</p>
								<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
							</a>
							<div class="popup-list-item__popup" id="item-1">
								<div class="row">
									<div class="col-lg-5">
										<div class="popup-list-item__title section-title">Специалист «Агент»</div>
										<div class="popup-list-item__popup-block">
											<div class="steps-wrapper">
												<div class="steps-item">
													<div class="steps-item__text">Физическое лицо, которое работает по трудовому договору или действует по гражданско-правовому договору</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Применяет специальный налоговый режим или является индивидуальным предпринимателем</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Выполняет действия по оказанию брокерских услуг при совершении операций на рынке недвижимости</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Прошел обучение или самостоятельную подготовку и аттестован по квалификации специалиста по недвижимости, агента в соответствии с Национальным стандартом «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования»</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Действует под руководством брокера, без права подписи договора на оказание брокерских услуг</div>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">
												Квалификационные <br />
												требования
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Не ниже среднего профессионального образования</p>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Повышение квалификации</p>
												<p>Не реже 1 раза в 3 года</p>
											</div>
										</div>
									</div>
									<div class="col-lg-7 d-flex flex-column">
										<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
										<div class="popup-list-item__popup-grid">
											<div class="row g-0">
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 3 года</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 500 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 100 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 2 900</strong> ₽</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 1 год</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 900 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 800 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 600 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 000 ₽</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12">
													<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
											<div class="popup-list-item__popup-block-text">
												<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций</i></p>

												<p>1. <strong>Скачайте,</strong> заполните и подпишите Согласие на обработку персональных данных</p>

												<p>
													2. <strong>Подготовьте</strong> необходимые документы для загрузки: — Справка с места работы или сканы страниц трудовой книжки, подтверждающие работу в недвижимости; — Диплом об образовании; — Фотография (400х400, средний план, фото по пояс, деловая обстановка, название файла = фамилия специалиста); — Подписанное Согласие на обработку персональных данных (оригинал
													необходимо принести на аттестацию)
												</p>
												<p>3. <strong>Заполните форму заявки,</strong> прикрепив копии подтверждающих документов</p>
											</div>
										</div>
										<div class="row mt-auto">
											<div class="col-5 col-sm-6"><a href="#attestaciya-specialist" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
											<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-list-item">
							<a href="#item-2" class="popup-list-item__link" data-fancybox
								><p>Аттестация «Брокер»</p>
								<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
							</a>
							<div class="popup-list-item__popup" id="item-2">
								<div class="row">
									<div class="col-lg-5">
										<div class="popup-list-item__title section-title">Аттестация «Брокер»</div>
										<div class="popup-list-item__popup-block">
											<div class="steps-wrapper">
												<div class="steps-item">
													<div class="steps-item__text">Физическое лицо, которое работает по трудовому договору или действует по гражданско-правовому договору</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Применяет специальный налоговый режим или является индивидуальным предпринимателем</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Выполняет действия по оказанию брокерских услуг при совершении операций на рынке недвижимости</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Прошел обучение или самостоятельную подготовку и аттестован по квалификации специалиста по недвижимости, агента в соответствии с Национальным стандартом «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования»</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Действует под руководством брокера, без права подписи договора на оказание брокерских услуг</div>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">
												Квалификационные <br />
												требования
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Не ниже среднего профессионального образования</p>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Повышение квалификации</p>
												<p>Не реже 1 раза в 3 года</p>
											</div>
										</div>
									</div>
									<div class="col-lg-7 d-flex flex-column">
										<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
										<div class="popup-list-item__popup-grid">
											<div class="row g-0">
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 3 года</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 500 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 100 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 2 900</strong> ₽</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 1 год</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 900 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 800 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 600 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 000 ₽</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12">
													<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
											<div class="popup-list-item__popup-block-text">
												<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций</i></p>

												<p>1. <strong>Скачайте,</strong> заполните и подпишите Согласие на обработку персональных данных</p>

												<p>
													2. <strong>Подготовьте</strong> необходимые документы для загрузки: — Справка с места работы или сканы страниц трудовой книжки, подтверждающие работу в недвижимости; — Диплом об образовании; — Фотография (400х400, средний план, фото по пояс, деловая обстановка, название файла = фамилия специалиста); — Подписанное Согласие на обработку персональных данных (оригинал
													необходимо принести на аттестацию)
												</p>
												<p>3. <strong>Заполните форму заявки,</strong> прикрепив копии подтверждающих документов</p>
											</div>
										</div>
										<div class="row mt-auto">
											<div class="col-5 col-sm-6"><a href="#attestaciya-sotrudnikov" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
											<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-list-item">
							<a href="#item-3" class="popup-list-item__link" data-fancybox
								><p>Аттестация «Эксперт»</p>
								<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
							</a>
							<div class="popup-list-item__popup" id="item-3">
								<div class="row">
									<div class="col-lg-5">
										<div class="popup-list-item__title section-title">Аттестация «Эксперт»</div>
										<div class="popup-list-item__popup-block">
											<div class="steps-wrapper">
												<div class="steps-item">
													<div class="steps-item__text">Физическое лицо, которое работает по трудовому договору или действует по гражданско-правовому договору</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Применяет специальный налоговый режим или является индивидуальным предпринимателем</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Выполняет действия по оказанию брокерских услуг при совершении операций на рынке недвижимости</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Прошел обучение или самостоятельную подготовку и аттестован по квалификации специалиста по недвижимости, агента в соответствии с Национальным стандартом «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования»</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Действует под руководством брокера, без права подписи договора на оказание брокерских услуг</div>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">
												Квалификационные <br />
												требования
												<div class="notice">
													<div class="notice__icon">
														<img src="img/icons/notice-red.svg" alt="" />
													</div>
													<p>Наличие аттестата Агента обязательно</p>
												</div>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Не ниже средне-специального и опыт работы по квалификации специалист по недвижимости - Агент не менее 3-х лет</p>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Образование высшее и опыт работы по квалификации Специалист по недвижимости - Агент не менее 2-х лет или обязательное обучение по программе «Специалист по недвижимости - Эксперт» в аккредитованном учебном заведении или направление от руководителя компании.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-7 d-flex flex-column">
										<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
										<div class="popup-list-item__popup-grid">
											<div class="row g-0">
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 3 года</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 500 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 100 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 2 900</strong> ₽</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 1 год</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 900 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 800 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 600 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 000 ₽</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12">
													<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
											<div class="popup-list-item__popup-block-text">
												<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций</i></p>

												<p>1. <strong>Скачайте,</strong> заполните и подпишите Согласие на обработку персональных данных</p>

												<p>
													2. <strong>Подготовьте</strong> необходимые документы для загрузки: — Справка с места работы или сканы страниц трудовой книжки, подтверждающие работу в недвижимости; — Диплом об образовании; — Фотография (400х400, средний план, фото по пояс, деловая обстановка, название файла = фамилия специалиста); — Подписанное Согласие на обработку персональных данных (оригинал
													необходимо принести на аттестацию)
												</p>
												<p>3. <strong>Заполните форму заявки,</strong> прикрепив копии подтверждающих документов</p>
											</div>
										</div>
										<div class="row mt-auto">
											<div class="col-5 col-sm-6"><a href="#attestaciya-sotrudnikov" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
											<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-list-item">
							<a href="#item-4" class="popup-list-item__link" data-fancybox
								><p>Аттестация «Ипотечный специалист»</p>
								<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
							</a>
							<div class="popup-list-item__popup" id="item-4">
								<div class="row">
									<div class="col-lg-5">
										<div class="popup-list-item__title section-title">Аттестация «Ипотечный специалист»</div>
										<div class="popup-list-item__popup-block">
											<div class="steps-wrapper">
												<div class="steps-item">
													<div class="steps-item__text">Физическое лицо, которое работает по трудовому договору или действует по гражданско-правовому договору</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Применяет специальный налоговый режим или является индивидуальным предпринимателем</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Выполняет действия по оказанию брокерских услуг при совершении операций на рынке недвижимости</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Прошел обучение или самостоятельную подготовку и аттестован по квалификации специалиста по недвижимости, агента в соответствии с Национальным стандартом «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования»</div>
												</div>
												<div class="steps-item">
													<div class="steps-item__text">Действует под руководством брокера, без права подписи договора на оказание брокерских услуг</div>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">
												Квалификационные <br />
												требования
												<div class="notice">
													<div class="notice__icon">
														<img src="img/icons/notice-red.svg" alt="" />
													</div>
													<p>Наличие аттестата Агента обязательно</p>
												</div>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Не ниже средне-специального и опыт работы по квалификации специалист по недвижимости - Агент не менее 3-х лет</p>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Образование высшее и опыт работы по квалификации Специалист по недвижимости - Агент не менее 2-х лет или обязательное обучение по программе «Специалист по недвижимости - Эксперт» в аккредитованном учебном заведении или направление от руководителя компании.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-7 d-flex flex-column">
										<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
										<div class="popup-list-item__popup-grid">
											<div class="row g-0">
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 3 года</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 500 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 3 100 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 3 300 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 2 900</strong> ₽</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="row g-0">
														<div class="col-12">
															<div class="popup-list-item__popup-grid-item"><strong>Сроком на 1 год</strong></div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная</strong></div>
																<div class="small">аттестация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 900 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">1-3 человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 800 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">4-9 человека –</div>
																<p><strong>от 1 600 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 700 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="small">10+ человека –</div>
																<p><strong>от 1 000 ₽</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12">
													<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
											<div class="popup-list-item__popup-block-text">
												<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций</i></p>

												<p>1. <strong>Скачайте,</strong> заполните и подпишите Согласие на обработку персональных данных</p>

												<p>
													2. <strong>Подготовьте</strong> необходимые документы для загрузки: — Справка с места работы или сканы страниц трудовой книжки, подтверждающие работу в недвижимости; — Диплом об образовании; — Фотография (400х400, средний план, фото по пояс, деловая обстановка, название файла = фамилия специалиста); — Подписанное Согласие на обработку персональных данных (оригинал
													необходимо принести на аттестацию)
												</p>
												<p>3. <strong>Заполните форму заявки,</strong> прикрепив копии подтверждающих документов</p>
											</div>
										</div>
										<div class="row mt-auto">
											<div class="col-5 col-sm-6"><a href="#quiz-popup" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
											<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-list-item">
							<a href="#" class="popup-list-item__link"
								><p>Тарифы</p>
								<span class="popup-list-item__icon btn"> <img src="img/icons/dropdown-arrow.svg" alt="" data-svg /></span>
							</a>
							<!-- <div class="popup-list-item__popup" id="item-5">
								<div class="row">
									<div class="col-lg-5">
										<div class="popup-list-item__title section-title">Сертифицирование агентства недвижимости</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-text">
												<p>
													Сертифицированное агентство недвижимости — Юридическое лицо или индивидуальный предприниматель, подтвердившие соответствие качества оказания брокерских (риэлторских) услуг установленным требованиям Системы сертификации. Получает Сертификат Соответствия с занесением соответствующей информации в Единый реестр сертифицированных компаний и аттестованных специалистов Системы
													сертификации.
												</p>

												<p>Сертификация — процедура проведения экспертизы деятельности агентства недвижимости (брокерской компании) на соответствие брокерских (риэлторских) услуг требованиям, установленным Основным стандартом Системы сертификации «Риэлторская деятельность. Услуги брокерские на рынке недвижимости. Общие требования», а также нормативными документами Системы Сертификации.</p>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">
												Квалификационные <br />
												требования
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Образование</p>
												<p>Не ниже среднего профессионального образования</p>
											</div>
											<div class="popup-list-item__popup-block-text">
												<p class="text-green">Повышение квалификации</p>
												<p>Не реже 1 раза в 3 года</p>
											</div>
										</div>
									</div>
									<div class="col-lg-7 d-flex flex-column">
										<div class="popup-list-item__title section-title d-none d-lg-flex">Прайс</div>
										<div class="popup-list-item__popup-grid">
											<div class="row g-0">
												<div class="col-6">
													<div class="row g-0">
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">сертификация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Первичная</strong></div>
																<div class="small">
																	сертификация одного <br />
																	дополнительного офиса
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<p><strong>7 500 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<p><strong>3 000 ₽</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="row g-0">
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная </strong></div>
																<div class="small">сертификация</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<div class="medium"><strong>Повторная </strong></div>
																<div class="small">
																	сертификация одного <br />
																	дополнительного офиса
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<p><strong>7 500 ₽</strong></p>
															</div>
														</div>
														<div class="col-6">
															<div class="popup-list-item__popup-grid-item">
																<p><strong>3 000 ₽</strong></p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12">
													<div class="popup-list-item__popup-grid-item">
														<div class="medium"><strong> Тариф на проведение сертификации брокерских услуг агентств недвижимости, не являющихся участниками НП «ГРМ»</strong></div>
														<div class="small">сроком на 1 год с выдачей сертификата в печатном виде</div>
													</div>
												</div>
												<div class="col-12">
													<div class="popup-list-item__popup-grid-item">
														<p><strong>35 000 ₽</strong></p>
													</div>
												</div>
												<div class="col-12">
													<a href="#" class="popup-list-item__popup-link">Скачать подробный прайс <img src="img/icons/download.svg" alt="" data-svg /></a>
												</div>
											</div>
										</div>
										<div class="popup-list-item__popup-block">
											<div class="popup-list-item__popup-block-title">Порядок подачи документов</div>
											<div class="popup-list-item__popup-block-text">
												<p><i>Аттестация проводится комиссией ТОС ГРМ по предварительной заявке и согласованию с кандидатами и общим графиком аттестаций </i></p>

												<p>1.<strong> Подготовьте </strong>необходимые документы (скачать Перечень документов и требований)</p>
												<p>2. <strong>Заполните</strong> форму заявки, прикрепив карточку компании с банковскими реквизитами</p>

												<p>3. <strong>Направьте </strong>на адрес ТОС ГРМ tos@grmos.ru копии документов из Перечня (можно направить ссылку на папку с файлами, размещенную на вашем Яндекс-диске, Mail, Google и т.п.).</p>
											</div>
										</div>
										<div class="row mt-auto">
											<div class="col-5 col-sm-6"><a href="#zayavka-brokerskih-uslug" data-fancybox class="popup-list-item__popup-btn btn">Подать заявку</a></div>
											<div class="col-7 col-sm-6"><a href="#" class="popup-list-item__popup-btn btn btn-dark">Скачать пакет документов</a></div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>

				<div class="documents">
					<div class="container">
						<div class="row g-4">
							<div class="col-md-6">
								<div class="documents-block">
									@@for (var i = 0; i < 6; i++) {
									<div class="documents-item">
										<img class="documents-item__image" src="img/icons/pdf.svg" alt="" />
										<p class="documents-item__title">Lorem, ipsum dolor.</p>
										<a href="#" class="documents-item__link red" target="_blank">Открыть PDF </a>
									</div>
									}
								</div>
							</div>
							<div class="col-md-6">
								<div class="documents-block">
									@@for (var i = 0; i < 6; i++) {
									<div class="documents-item">
										<img class="documents-item__image" src="img/icons/txt.svg" alt="" />
										<p class="documents-item__title">Lorem, ipsum dolor.</p>
										<a href="#" class="documents-item__link blue" target="_blank">Открыть PDF </a>
									</div>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- map-block -->
				@@include('components/page-blocks/_map-block-form.html')
			</main>
			<!-- popup -->
			@@include('components/page-blocks/_popup.html')
			<!-- footer -->
			@@include('components/page-blocks/_footer.html')
			<!-- scripts -->
		</div>
		@@include('components/page-blocks/_scripts.html')
	</body>
</html>
