<!DOCTYPE html>
<html lang="ru">
	@@include('components/page-blocks/_head.html',{ "title":"ГРМ" })
	<body class="desktop-bg-grey mobile-bg-grey">
		<div class="wrapper">
			<!-- header -->
			@@include('components/page-blocks/_header.html', { "class" : 'header-white' })
			<!-- main -->
			<main class="main">
				<!-- service-hero -->
				<section class="service-hero">
					<div class="container">
						<div class="service-hero-wrapper">
							<div class="service-hero__subtitle">Только 30% риэлторов в Москве работают легально.</div>
							<h1 class="service-hero__title">Будьте в числе лучших!</h1>
							<div class="service-hero__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</div>
							<div class="service-hero-buttons"><a href="#" class="service-hero__btn btn">Lorem, ipsum dolor.</a></div>
							<div class="service-hero-randomize">
								<div class="service-hero-randomize__title">
									Более 2000 пользоватлей <br />
									доверились нам
								</div>
								<div class="service-hero-randomize-items">
									<div class="service-hero-randomize-item">
										<a href="#" class="service-hero-randomize__link"><img src="img/logos/1.png" alt="" /></a>
									</div>
									<div class="service-hero-randomize-item">
										<a href="#" class="service-hero-randomize__link"><img src="img/logos/2.png" alt="" /></a>
									</div>
									<div class="service-hero-randomize-item">
										<a href="#" class="service-hero-randomize__link"><img src="img/logos/3.png" alt="" /></a>
									</div>
									<div class="service-hero-randomize-item">
										<a href="#" class="service-hero-randomize__link"><img src="img/logos/4.png" alt="" /></a>
									</div>
									<div class="service-hero-randomize-item">
										<a href="#" class="service-hero-randomize__link"><img src="img/logos/5.png" alt="" /></a>
									</div>
									<div class="service-hero-randomize-item">
										<a href="#" class="service-hero-randomize__link"><img src="img/icons/plus.png" alt="" /></a>
									</div>
								</div>
							</div>
							<div class="service-hero-block">
								<div class="service-hero-block__img">
									<img src="img/tos.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<a href="#">Главная</a>⭢ <a href="#">Комитеты</a>⭢
						<span>Комитет по адаптации и сопровождению новых членов ГРМ</span>
					</div>
				</div>
				<!-- Орган по сертификации -->
				<section class="comitet-org">
					<div class="container">
						<div class="comitet-org-wrapper">
							<div class="comitet-org-item comitet-org-item--big">
								<h2 class="section-title comitet-org__title order-1">
									Основной <br />
									функционал ТОС
								</h2>
								<div class="comitet-org-item__inner w-67 order-lg-2 order-3">
									<div class="comitet-org-item__title comitet-org-item__title--small">Приглашаем Агентства недвижимости и Индивидуальных предпринимателей Москвы пройти процедуру Добровольной сертификации тем самым:</div>
									<div class="comitet-org-item__text">
										- повысить статус и конкурентоспособность компании; <br />
										- подтвердить  качество предоставляемых услуг;  <br />
										- получить защиту от недобросовестных участников рынка недвижимости; <br />
										- укрепить доверие клиентов, партнеров и контрагентов;
									</div>
								</div>
								<div class="comitet-org-item__descr order-lg-3 order-2">
									<div class="comitet-org-item__descr-top">
										<img src="img/tos-woman.jpeg" alt="" class="comitet-org-item__descr-image" />
										<div class="comitet-org-item__descr-name">СИМКО Елена Борисовна</div>
									</div>
									<p class="comitet-org-item__descr-text">Руководитель Органа по сертификации брокерских услуг НП «ГРМ» <br />E-mail: <a href="#">tos@grmos.ru</a></p>
								</div>
							</div>
							<div class="comitet-org-item comitet-org-item--has-decor">
								<div class="comitet-org-item__inner comitet-org-item__inner--dark">
									<div class="comitet-org-item__title">Сдать квалификационный экзамен и подтвердить свой профессионализм</div>

									<p class="mt-auto">
										<a href="#" class="comitet-org-item__btn btn btn--white">Пройти сертификацию</a>
										<a href="#" class="comitet-org-item__btn btn btn--white mt-4">Пройти аттестацию</a>
									</p>
								</div>
							</div>
						</div>
						<div class="comitet-org-bottom">
							<div class="comitet-org-bottom-item">
								<div class="comitet-org-item__title">ЕДИНЫЙ РЕЕСТР сертифицированных компаний и аттестованных специалистов – гаратия надежности и профессионализма</div>

								<a href="#" class="comitet-org-bottom__btn btn btn--white">Проверить риэлтора</a>
							</div>
							<div class="comitet-org-bottom-item">
								<div class="comitet-org-item__title">Территориальный орган <br />по сертификации (ТОС)</div>
								<div class="comitet-org-item__text">
									- Управляющий совет НП ГРМ<br />
									 - Состав ТОС<br />
									 - Нормативные документы<br />
									 - Тарифы
								</div>

								<img src="img/phone.png" alt="" class="comitet-org-bottom__image d-none d-lg-block" />
								<img src="img/phone-mob.png" alt="" class="comitet-org-bottom__image d-lg-none" />
							</div>
						</div>
					</div>
				</section>
				<!-- Члены комитета -->
				<section class="comitet-members">
					<div class="container">
						<h2 class="comitet-members__title section-title">Состав Территориального Органа Сертификации</h2>
						<div class="comitet-members-slider">
							@@for(var i = 0; i < 4; i++) {
							<div class="comitet-members-slider__item">
								<div class="comitet-members-item">
									<div class="comitet-members-item-top">
										<div class="comitet-members-item__top-info">
											<div class="comitet-members-item__image">
												<img src="img/thumb.png" alt="" />
											</div>
											<div class="comitet-members-item__info">
												<div class="comitet-members-item__title">ФЕДУЛАЕВА Юлия Николаевна</div>
												<div class="comitet-members-item__text">Исполнительный директор НП «ГРМ»</div>
											</div>
										</div>
										<div class="comitet-members-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ullam nihil quod amet dolorem perspiciatis eaque distinctio itaque animi magni.</div>
										<div class="comitet-members-item__logo">
											<img src="img/zip.png" alt="" />
										</div>
										<div class="social comitet-members-item__social d-lg-none">
											<a href="#" class="social-item"><img src="img/icons/tg.svg" alt="" data-svg /> </a>
											<a href="#" class="social-item"><img src="img/icons/vk.svg" alt="" data-svg /> </a>
											<a href="#" class="social-item"><img src="img/icons/wa.svg" alt="" data-svg /> </a>
										</div>
									</div>
									<div class="comitet-members-item-bottom">
										<a href="#" class="comitet-members-item__btn btn">Связаться с членов комитета</a>
										<div class="social comitet-members-item__social d-none d-lg-flex">
											<a href="#" class="social-item"><img src="img/icons/tg.svg" alt="" data-svg /> </a>
											<a href="#" class="social-item"><img src="img/icons/vk.svg" alt="" data-svg /> </a>
											<a href="#" class="social-item"><img src="img/icons/wa.svg" alt="" data-svg /> </a>
										</div>
									</div>
								</div>
							</div>
							}
						</div>
					</div>
				</section>

				<div class="text-block">
					<div class="container">
						<div class="row g-5">
							<div class="col-lg-6">
								<div class="text-block-content">
									<h2>Свидетельство об аккредитации в качестве Территориального органа по сертификации</h2>
									<p>Гильдия риэлторов Москвы проводит аттестацию специалистов на соответствие уровню профессиональной подготовки специалистов «Брокер по недвижимости» и «Агент по недвижимости» и сертификацию брокерских услуг компаний в соответствии с Системой добровольной сертификации услуг на рынке недвижимости Российской Федерации (No РОСС RU. 046.04 РН00 в Реестре Госстандарта)</p>
									<br /><br /><br />
									<h2>Лучший территориальный орган системы сертификации РГ</h2>
									<p>В июне 2024 года, в рамках Национального Конгресса РГР, по итогам национального конкурса РГР «Профессиональное признание 2024» Орган сертификации Гильдии риэлторов Москвы стал одним из трех номинантов.</p>
								</div>
							</div>
							<div class="col-lg-6">
								<a href="img/tos-sert.jpeg" data-fancybox class="text-block-image">
									<img src="img/tos-sert.jpeg" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Список с инфой -->
				<!-- 
				@@include('components/page-blocks/_popup-list.html', { "class" : ' ' }) -->
				<!-- документы -->
				<div class="documents pt">
					<div class="container">
						<div class="row g-4">
							<div class="col-md-6">
								<div class="documents-title section-title">Нормативные документы</div>
								<div class="documents-block">
									@@for (var i = 0; i < 6; i++) {
									<div class="documents-item">
										<img class="documents-item__image" src="img/icons/pdf.svg" alt="" />
										<p class="documents-item__title">Lorem, ipsum dolor.</p>
										<a href="#" class="documents-item__link red" target="_blank">Открыть PDF </a>
									</div>
									}
									<a href="#" class="documents-bottom-link">Все нормативные документы Системы сертификации <img src="img/icons/download.svg" alt="" /></a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="documents-title section-title">Методические материалы РГР</div>
								<div class="documents-block">
									@@for (var i = 0; i < 6; i++) {
									<div class="documents-item">
										<img class="documents-item__image" src="img/icons/txt.svg" alt="" />
										<p class="documents-item__title">Lorem, ipsum dolor.</p>
										<a href="#" class="documents-item__link blue" target="_blank">Открыть PDF </a>
									</div>
									}
									<a href="#" class="documents-bottom-link">Все методические материалы РГР <img src="img/icons/download.svg" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- news -->
				@@include('components/page-blocks/_news.html' , "class" : 'white')

				<!-- letter -->
				@@include('components/page-blocks/_letter.html', { 'title' : 'Хотите пройти аттестацию или сертификацию?'})
			</main>
			<!-- popup -->
			@@include('components/page-blocks/_popup.html')
			<!-- footer -->
			@@include('components/page-blocks/_footer.html')
			<!-- scripts -->
		</div>
		@@include('components/page-blocks/_scripts.html')
	</body>
</html>
